/* COLORS */
$carolina-blue: #6699FF;
$dark-grey: #333333;
$medium-grey: #999999;
$light-grey: #CCCCCC;
$facebook-blue: #3765A3;
$twitter-blue: #5EA9DD;
$google-red: #DC4A38;
$linkedin-blue: #0077B5;

/* FONTS */
$ubuntu: 'ubuntu', sans-serif;
$nav: 16px;
